# DataFrame Operations

In [ ]:
import pandas as pd

## Reading file - data

In [ ]:
df = pd.read_csv('data/peoples.csv')

## Selecting data

In [ ]:
df['name']             # one column (as Series)
df[['name', 'age']]    # several columns (as DataFrame)

df.iloc[0]             # first row (by index, as Series)
df.loc[0]              # same, by label (if index has labels)

df.iloc[0:2]           # first two rows

## Filtering rows

In [ ]:
df[df['age'] > 20]               # rows where age > 20
df[df['city'] == 'Paris']        # rows where city is Paris

## Sorting: ascending - descending

In [ ]:
df.sort_values(by='age')                     # ascending
df.sort_values(by='age', ascending=False)    # descending

## Adding or modifying columns

In [ ]:
df['country'] = 'USA'                # add constant value
df['age_more_10'] = df['age'] + 10   # compute a new column

## Removing column

In [ ]:
df.drop(columns=['age_more_10'], inplace=True) # inplace=True means that you want to delete this in this dataframe

## Reset - with Set Index

In [ ]:
df.set_index('name', inplace=True)    # set 'name' as index
df.reset_index(inplace=True)          # reset to default integers

## Combinig datasets - df

### Concat two dataframes

In [ ]:
df2 = pd.read_csv('data/peoples.csv')
pd.concat([df, df2])

### Join two or more dataframes

In [ ]:
df.merge(df2, on='key')                    # Inner join
df.merge(df2, on='key', how='left')        # Left join
df.merge(df2, on='key', how='right')       # Right join
df.merge(df2, on='key', how='outer')       # Outer join